<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h2> Nouvelle semaine</h2>
  <div>
    <ion-label>
      <ion-input [(ngModel)]="semaine.title" placeholder="Nom de la semaine"></ion-input>
    </ion-label><br>

    <ion-label>
      <ion-input [(ngModel)]="semaine.content" placeholder="Description de la semaine"></ion-input>
    </ion-label>

    <ion-button (click)='addSemaine()'>Save</ion-button>

  </div>
</ion-content>